[id^="mm-command-"] {
  margin-right: 0.5rem;
}

[id^="mm-copy-"] {
  background: transparent;
  border: 0;
  margin: 0 0.5rem 0 .25rem;
  opacity: .87;
  padding: 0;
  width: 1rem;
  cursor: pointer;
}
